@model Candidate
<h2 class="display-4">Feedback Page</h2>

<div class="lead">
  Congrats! <span class="text-success">@Model.FullName</span> applied <span class="text-info">@Model.SelectedCourse</span> Course successfully.
</div>
<a asp-action="Index" asp-controller="Candidates" class="text-decoration-none">Home</a>
@{
    // var logs = TempData["logs"] as List<string>;
}
<p class="lead">
    @foreach (var log in TempData["logs"] as List<string>)
    {
        <div class="text-danger">@log</div>
    }
</p>