
<p class="display-4">Save Picture</p>
<form asp-action="Upload"  method="post" enctype="multipart/form-data">
    <input type="file" name="picture"  />
    <input type="submit" class="btn btn-success" value="Save" />
</form>


<table>
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var picture in ViewBag.pictures as List<FileBlob>)
        {
            <tr>
                <td><img src="@picture.Url" style="width:100px;height:100px" /></td>
                <td>@picture.Name</td>
            </tr>
        }
    </tbody>
</table>
